.finalAssessmentSettings{
    border: 0rem solid #ddd;
}

.input-field .weightInput[type=text]:focus, .assessment-type-input:not([type]):focus:not([readonly]),
#assessments-courseWorkWeight[type=text]:not(.browser-default):focus:not([readonly]),
#assessments-finalWeight:not([type]):focus:not([readonly]){
    border-bottom-color: #827717!important;
    box-shadow: 0 1px 0 0 #827717 !important;
}

.assessment-type-input:not([type]){
    text-align: center;
    width: 200px;
    height: 2.2rem;
    margin-bottom: 0;
    margin-top: .2rem;
}

.delete-courseworkAssessmentType, .delete-finalAssessmentType{
    margin-top:.6rem;
}

.weightInput{
    text-align: center!important;
    height: 50%!important;
    width: 60%!important;
    margin-top: 0.75rem!important;
    margin-left: 15%!important;
}

.weightingList{
    cursor: initial;
    box-shadow: none;
}

.weightingListContainer{
    margin-top: 2.76em;
    cursor: initial;
    padding-left: 0!important;
}

.header-text{
    color: white;
}

.weightingInput{
    cursor: initial;
    background-color: aliceblue;
}

.assessmentContainer{
    padding-right: 0!important;
    padding-left: 0!important;
}

.addAssessmentButton{
    height: auto;
    text-transform: none;
    line-height: 1.5;
    padding: 0;
    font-style: italic;
    margin-top: 0.93rem;
    width: 73%;
    color:black;
}

.icon-green{
    color: #4caf50
}

.icon-bluegrey{
    color:#455a64
}

.icon-bluegrey:hover{
    color:#ff5252
}

#assessments-courseWorkWeight, #assessments-finalWeight{
    height: 2rem;
    font-size: 1.64rem;
    text-align: center;
    width: 50%;
    margin-left: 22%;
}

.finalCourseWeight{
    height: 3.5rem; 
    border-top: 1px solid #ddd;
}

.courseHeader, .courseWeight, .finalCourseHeader{
    box-sizing: content-box;
    height: 3.5rem; 
    border-top: 1px solid #ddd;
}

.addAssessment, .addFinalAssessment, .courseStyler, .courseStyler2,
.assessmentType, .assessmentTypeWeight, .finalAssessmentType,
.finalAssessmentWeight{
    box-sizing: content-box;
    height: 3.5rem;
}

.courseHeader, .assessmentType, .finalCourseHeader, .finalAssessmentType{
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.perc-div{
    margin-top:.85rem;
}

.header-perc{
    margin-top:.95rem;
}

.addAssessment, .addFinalAssessment{
    border-left: 1px solid #ddd;
}

.addAssessment, .courseStyler, .addFinalAssessment, .courseStyler2{
    border-bottom: 1px solid #ddd;
}

.courseStyler, .assessmentTypeWeight, .courseWeight, .courseStyler2,
.finalCourseWeight, .finalAssessmentWeight{
    border-right: 1px solid #ddd;
}

.coursePercentage, .finalPercentage{
    font-size: 125%;
}

#toast-container {
    top: 18% !important;
    right: 2% !important;
    bottom: auto!important;
    left: auto!important;
  }

.assessment-type-listing{
    margin-top: 0.93rem
}

.green-icon-placement{
    margin-top:.6rem
}