.assessment-type-input:not([type]):focus:not([readonly]){
    border-bottom-color: #4caf50;
}

#assessments-courseWorkWeight[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom-color: #4caf50;
}

#assessments-finalWeight:not([type]):focus:not([readonly]){
    border-bottom-color: #4caf50;
}

.assessment-type-input:not([type]){
    text-align: center;
    width: 200px;
    height: 1.09rem;
    margin-bottom: 6px;
    margin-top: 9px;
}

.toRight{
    margin-left: auto;
}

.weightInput{
    margin: 0!important;
    margin-left: 15px!important;
    width: 25px!important;
    height: 1.5rem!important;
    text-align: center!important;
}

.weightingList{
    cursor: initial;
    box-shadow: none;
}

.weightingListContainer{
    margin-top: 2.76em;
    cursor: initial;
    padding-left: 0!important;
}

.header-text{
    color: white;
}

.weightingInput{
    cursor: initial;
    background-color: aliceblue;
}

.assessmentContainer{
    padding-right: 0!important;
    padding-left: 0!important;
}

.addAssessmentButton{
    height: auto;
    text-transform: none;
    line-height: 1.5;
    padding: 0;
    font-style: italic;
    margin-top: 2px;
    width: 73%;
}

.icon-green{
    color: #4caf50
}

.icon-bluegrey{
    color:#455a64
}

.icon-bluegrey:hover{
    color:#ff5252
}


.courseWeightPercentage{
    font-size: 1.64rem;
}

#assessments-courseWorkWeight, #assessments-finalWeight{
    width: 40px;
    font-size: 1.64rem;
    text-align: center;
    margin: 0rem;
}

.courseHeader, .courseWeight{
    box-sizing: content-box;
    height: 49px; 
}

.assessmentType, .assessmentTypeWeight{
    box-sizing: content-box;
    height: 33px;
}

.addAssessment, .courseStyler{
    box-sizing: content-box;
    height: 33px;
}

#toast-container {
    top: 18% !important;
    right: 2% !important;
    bottom: auto!important;
    left: auto!important;
  }

  .assessment-type-listing{
      margin-top:0
  }