.toRight{
    margin-left: auto;
}

input{
    margin: 0!important;
    height: 1.536rem!important;
}

.weightingList{
    cursor: initial;
    box-shadow: none;
}

.weightingListContainer{
    margin-top: 2.76em;
    cursor: initial;
    padding-left: 0!important;
}

.weightingInput{
    cursor: initial;
    background-color: aliceblue;
}

.assessmentContainer{
    padding-right: 0!important;
}

.addAssessmentButton{
    height: auto;
    text-transform: none;
    line-height: 1.5;
    padding: 0;
    font-style: italic;
    margin-top: 2px;
    width: 73%;
}

i.material-icons.toRight:hover{
    color: red;
}