.toRight{
    margin-left: auto;
}

.weightInput{
    margin: 0!important;
    margin-left: auto!important;
    width: 6%!important;
    height: 1.5rem!important;
}

.weightingList{
    cursor: initial;
    box-shadow: none;
}

.weightingListContainer{
    margin-top: 2.76em;
    cursor: initial;
    padding-left: 0!important;
}

.header-text{
    color: white;
}

.weightingInput{
    cursor: initial;
    background-color: aliceblue;
}

.assessmentContainer{
    padding-right: 0!important;
    padding-left: 0!important;
}

.addAssessmentButton{
    height: auto;
    text-transform: none;
    line-height: 1.5;
    padding: 0;
    font-style: italic;
    margin-top: 2px;
    width: 73%;
}

.icon-green{
    color: #4caf50
}

#assessments-courseWorkWeight, #assessments-finalWeight{
    width: 10%;
    margin-bottom: 0;
    font-size: 1.64rem;
    text-align: center;
}