#registerEmail-error {
    border-bottom: none !important; 
    color: #ff5252;
    margin-bottom: 10px;
}
#registerPassword-error {
    border-bottom: none !important; 
    color: #ff5252;
    margin-bottom: 10px;
}
#confirmPassword-error {
    border-bottom: none !important; 
    color: #ff5252;
    margin-bottom: 10px;
}
#firstName-error {
    border-bottom: none !important; 
    color: #ff5252;
    margin-bottom: 10px;
}
#lastName-error {
    border-bottom: none !important; 
    color: #ff5252;
    margin-bottom: 10px;
}