.assessmentHeader {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top:0px!important;
    padding-bottom:10px!important;
    z-index: 2;
}

table{
    box-sizing: content-box!important;
}

td{
    width:1%!important;
}

.categoryCell {
    min-width: 70px;
    background-color: white; 
    text-align:center; 
    border: 1px solid black; 
    border-top: 2px solid black;
    z-index: 2;
}

.categoryCell.K {
    background-color: #b39ddb; 
}
.categoryCell.A {
    background-color: #4fc3f7;
}
.categoryCell.T {
    background-color: #81c784; 
}
.categoryCell.C {
    background-color: #e57373; 
}