.assessments-collapsible {
    padding: 0 !important;
    
}

.icon-bluegrey{
    color:#455a64
}

.icon-bluegrey:hover{
    color:#ff5252
}

.icon-bluegrey-edit{
    color:#455a64
}

.icon-bluegrey-edit:hover{
    color:#4caf50
}

.assessment-icon {
    padding-top: 3px;
    padding-right: 10px
}

.assessments-collapsible-nested {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    /* height: 80px !important; */
    padding-left: 50px;
    line-height: 1px!important;
}

.shift-way-up{
    margin-top: -55px!important;
}

/* .reduce-padding-assessments{
    margin-left: 0em !important;
    margin-right: 20em!important
} */