.editable-assessment-fields{
    width: 3rem!important;
}

.editable-assessment-fields:not([type]):focus:not([readonly]){
    border-bottom-color: #827717;
    box-shadow: 0 1px 0 0 #827717!important;
}

.icon-bluegrey{
    color:#455a64
}

.icon-bluegrey:hover{
    color:#ff5252
}

.icon-bluegrey-edit{
    color:#455a64
}

.icon-bluegrey-edit:hover{
    color:#4caf50
}

.assessments-collapsible{
    padding-top: 0rem!important;
    padding-bottom: 0rem!important;
    height: 28rem;
}

.assessments-collapsible-nested{
    padding: 0rem!important;
}

.c-final-row{
    border-bottom: 0px solid white!important;
}