.studentReports-sideNav{
    height: 100%!important;
    overflow-y: auto!important;
    position: relative!important;
    padding-bottom: 5em!important;
    width:100%!important;
    padding-left: 0!important;
    padding-right: 0!important;
    box-shadow: none!important;
}

.max-height{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow-y:auto!important;
    padding-left:0!important;
    margin-top:17.1px!important;
    box-shadow: -5px -4px 6px -5px rgba(156,150,156,0.83)!important;
    padding-right: 0!important;
}

#studentReports{
    padding-right: 0!important
}

.max-height-report-view{
    position: relative;
    width: 100%;
    height: 80vh;
    overflow-y:auto!important;
    padding-left: 0!important;
    padding-right: 11.25px!important;
}

#assessmentBreakdownBarGraph{
    position: relative!important;
    min-width: 100%!important;
    height: 100%!important;
    
}

#assessmentTypeBarGraph{
    position: relative!important;
    min-width: 100%!important;
    height: 100%!important;
}

#assessmentTypeClassBarGraph{
    position: relative!important;
    min-width: 100%!important;
    height: 100%!important;
}

.graph-container-assessments{
    position:relative;
    width: 65vw;
    height: 25vh;
}

.graph-container-assessmentType{
    position:relative;
    width: 32.5vw;
    height: 25vh;
    padding-left:0!important;
    padding-right:0!important;
    margin-left: 0!important;
}

.assessmentsGraph-title{
    padding-top: 30px;
}

.graph-title-reports{
    font-weight: bold
}

.collection-box{
    height: 100%
}

.collection-box-item{
    height: 16.67%!important;
}

.mar-top-bot-none{
    margin-top:0!important;
    margin-bottom: 0!important;
}

.mar-top-bot-none-breakdown{
    margin-top:9.5px!important;
    margin-bottom: 5.5px!important;
}

.collection-title-reports{
    font-weight: bold;
    position: relative!important;
    top: 50%;
    transform: translateY(-50%); 
}
.collection-title-reports-breakdown{
    font-weight: bold;
    position: relative!important;
    top: 50%;
    transform: translateY(-50%);
}

.mod-line-height{
    line-height: .5rem !important;
}

.collection-K-reports{
    color: #b39ddb;
    position: relative!important;
    top: 50%;
    transform: translateY(-50%); 
}
.collection-K-reports-breakdown{
    color: #b39ddb;
    position: relative!important;
    
    top: 50%;
    transform: translateY(-50%); 
}

.collection-A-reports{
    color:#4fc3f7;
    position: relative!important;
    top: 50%;
    transform: translateY(-50%); 
}
.collection-A-reports-breakdown{
    color:#4fc3f7;
    position: relative!important;
    top: 50%;
    transform: translateY(-50%); 
    
}

.collection-T-reports{
    color: #81c784;
    position: relative!important;
    top: 50%;
    transform: translateY(-50%); 
}
.collection-T-reports-breakdown{
    color: #81c784;
    position: relative!important;
    top: 50%;
    transform: translateY(-50%); 
    
}

.collection-C-reports{
    color: #e57373;
    position: relative!important;
    top: 50%;
    transform: translateY(-50%); 
}
.collection-C-reports-breakdown{
    color: #e57373;
    position: relative!important;
    top: 50%;
    transform: translateY(-50%); 
    
}

.K-color{
    background-color: #b39ddb;
}

.A-color{
    background-color: #4fc3f7;
}

.T-color{
    background-color: #81c784
}

.C-color{
    background-color: #e57373
}

.Grade-color{
    background-color: #90a4ae
}

.Assessment-color{
    background-color: #bcaaa4
}

.bord-right-left-top{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}

.bord-right-top{
    border-right: 1px solid grey;
    border-top: 1px solid grey;
}

.bord-top{
    border-top: 1px solid grey;
}

.bord-right{
    border-right: 1px solid grey;
}

.bord-left-right{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}

.bord-left-right-bottom{
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}
.bord-right-bottom{
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.bord-strong{
    border: 1px solid grey;
    background-color:#bdbdbd;
    /* color:white; */
}

.marg-bottom-none{
    margin-bottom: 0!important;
}

.modif-bot-mar{
    margin-bottom: 30px!important;
}

.morris-hover{
    z-index: 0!important
}

.rowHeader{
    font-weight: bold;
}