.errorMessageFinal {
    border-bottom: none !important; 
    color: #d32f2f;
    margin-bottom: 10px;
}
.final-marks-error {
    border-bottom: 1px solid #d32f2f !important;
}
.final-marks-valid {
    border-bottom: 1px solid #4caf50 !important;
}