.gradebook-table {
    width: 100%;
}

.studentBlankCellBorder {
    border-right: 1px solid black;
}

.studentCellBorder {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.studentsCell {
    min-width:200px; 
    background-color: white !important; 
    font-weight: bold; 
    text-align:center; 
}

#gradeBookChartHolder{ /*//not sure why we need this */
    width: 100%;
}

.heighten-nav{
    height: 4.5em;
}

.nav-padding-top{
    margin-top:1em;
}

.extra-table-padding{
    padding:1.82em!important;
}

.gradebook-header{
    color: #616161 !important;
    padding: .6em !important;
}

.zero-top-pad{
    margin-top: 0!important;
    margin-bottom: 0!important;
    height: 69px!important;
}

.no-padding{
    padding:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.grey-font-color{
    color: #616161!important;
}

.testColumns{
    border-bottom: 1px solid black;
}

.tableCell{
    padding: 5px 5px;
}