.gradebookChart-container {
    position: relative;
    width: 100%;
    min-height: 22vh !important;
    max-height: 79vh !important;
    /* height: 79vh!important; */
    overflow-y: scroll;
}

.heighten-nav{
    height: 4.5em;
}

.nav-padding-top{
    margin-top:1em;
}

.extra-table-padding{
    padding:1.82em!important;
}

.gradebook-header{
    color: #616161 !important;
    padding: .6em !important;
}

.zero-top-pad{
    margin-top: 0!important;
    margin-bottom: 0!important;
    height: 69px!important;
}

.no-padding{
    padding:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.grey-font-color{
    color: #616161!important;
}


.tableCell{
    padding: 5px 5px;
}