.gradebookChart-container {
    position: relative;
    width: 100%;
    min-height: 56vh !important;
    max-height: 79vh !important;
    overflow-y: scroll;
}

.heighten-nav{
    height: 4.5em;
}

.nav-padding-top{
    margin-top:1em;
}

#main_table{
    border-collapse: separate
}

.extra-table-padding{
    padding:1.82em!important;
}

.gradebook-header{
    color: #616161 !important;
    padding: .6em !important;
}

.zero-top-pad{
    margin-top: 0!important;
    margin-bottom: 0!important;
    height: 69px!important;
}

.no-padding{
    padding:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.grey-font-color{
    color: #616161!important;
}


.tableCell{
    padding: 5px 5px;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
    background-color: rgba(255,255,255,0.5);
	
	position: fixed;
	z-index: 100000000000;
	top: 0;
	left: 14%;
	right: 0;
	bottom: 0;	
}