.studName:focus{
    background-color: #c1c1c1;
}

.studName:hover{
    background-color: #c1c1c1;
}

/* To add a border to every chunk of 4 mark categories */
#marksCategoriesAndStudent td:nth-child(4n+1){
    border-right:1px solid black;
}

/* To add a border to every 4 columns of marks (corresponding to above css writeup) */
tbody tr td:nth-child(4n+1){
    border-right:1px solid black;
}

.studMarkTableCell{
    min-width: 100px;
}

#gradeBookChartHolder{
    width: 100%;
    overflow-x:scroll;
    overflow-y:scroll;
}

.testColumns{
    border-bottom: 1px solid black;
}