.studName:focus{
    background-color: #c1c1c1;
}

.studName:hover{
    background-color: #c1c1c1;
}

.studNameCell{
    border-right: 2px solid black;
}

.studMarkTableCell{
    min-width: 70px;
    border: 1px dashed green;
}

#gradeBookChartHolder{
    width: 100%;
    overflow-x:scroll;
    overflow-y:scroll;
}

.testColumns{
    border-bottom: 1px solid black;
}

.tableCell{
    padding: 5px 5px;
}