.nav-wrapper{
    background-color:#03a9f4
}

/*To fix clickable sideNav above tabs*/
.button-collapse{
    width: 25px;
}

.left-align{
    font-size: 2em !important;
}

.nav-container-content{
    padding-left: 8em;
    padding-right: 12em;
    position: relative;
    max-height: 100%;
}

.logo{
    position:relative!important;
    bottom: 5.8em!important;
    right: 5.8em!important;
    height: 0!important;
    
}