/* ul.side-nav.fixed {
    margin-top: 68px;
    overflow: auto; 
    position: absolute!important;
} */

.center-label{
    padding-left: 1.5em;
}

.paragraph{
    padding-left: 1em;
    padding-right: 1em;
}

.side-nav-modify {
    position: relative !important;
    width: 100%;
}

.preloaderNav{
    display: flex;
    position: fixed;
    z-index: 2000;
    width: 100%;
    height:100%;
    
    background-color: #fff;
    background-color: rgba(255,255,255,0.5);
}

#circle-location{
    position:relative;
    top: 15%;
    left: 35%;
}