.category{
    background-color:#42a5f5;
    color: white;
}

.percentage{
    background-color:black;
    color: white;
}

.top-adjust{
    padding-top: 0em !important;
}

/* .containerDiv{
    display: flex;
    justify-content: space-around;
} */

#knowledge, #application, #thinking, #communication{
    width: 20%;
    text-align: center;
}

.CWContainer{
    width: 50%;
}

.weightingHeadings{
    font-size: 2em;
}