.category{
    background-color:#42a5f5;
    color: white;
}

.percentage{
    background-color:black;
    color: white;
}

.top-adjust{
    padding-top: 0em !important;
}

/* .containerDiv{
    display: flex;
    justify-content: space-around;
} */

#knowledge, #application, #thinking, #communication{
    width: 20%;
    text-align: center;
}

.CWContainer{
    width: 50%;
}

.weightingHeadings{
    font-size: 2em;
}

.addTo100Row {
    border-bottom: 0 !important;
    color: #d32f2f !important;
    position: relative;
    width: 100%;
}

.addTo100ErrorPlacement {
    position: relative;
    width: 150%;
    padding-left: 40%
}

#knowledge-error {
    color: #d32f2f !important;
}
#application-error {
    color: #d32f2f !important;
}
#thinking-error {
    color: #d32f2f !important;
}
#communication-error {
    color: #d32f2f !important;
}