/* nav-template */
.nav-wrapper{
    background-color:#42a5f5
    
}

/* addCourse-template */
.modal-title{
    padding-bottom: .5em
}

/* tabs-template */
 .tabs .indicator{
    background-color:#26a498
} 

.tabs .tab a.active{
    color:#26a498
}

.tabs .tab a:hover{
    color:#26a498
}

.tabs .tab a{
    color:#42a5f5
}

/* Site Content */
main{
    padding-left: 200px;
  }


@media only screen and (max-width : 992px) {
    main{
        padding-left: 0;
    }
  }

/* sideNav-template */
.side-nav{
    top: 68px; 
    padding-bottom: 8em;
}

.center-label{
    padding-left: 1.5em;
}

.collapsible-body{
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
    
}

.paragraph{
    padding-left: 1em;
}

/* footer-template */
.page-footer{
    background-color:#42a5f5
}

.footer-copyright{

}