/* Site Content */
main{
    padding-left: 200px;
  }
.courseSettings {
    padding-right: 200px;
}

.courseSettingsSideNav {
    margin-top: 100px;
    margin-bottom: 500px !important;
}


@media only screen and (max-width : 992px) {
    main{
        padding-left: 0;
    }
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  /*************** grade book chart CSS ***********/
  .studName{
    background-color: rgba(0, 0, 0, 0);
    color: black;
    text-transform: capitalize;
    box-shadow: none;
}

 /* label focus color */
 .input-field input[type=text]:focus + label {
    color: #4caf50!important
}
/* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #4caf50 !important;
    box-shadow: 0 1px 0 0 #4caf50 !important;
  }

  ul.dropdown-content.select-dropdown li span{
      color: #4caf50 !important;
  }