.page-footer{
    background-color:#03a9f4;
    padding-left: 0;
}

.cusmarg{
    margin-left:0 !important;
}

.no-mar-bot{
    margin-bottom:0!important;
}

.half-marg-bottom{
    margin-bottom: .65rem;
}

.footer-pad-custom{
    padding-top: .65rem;
}